<?xml version='1.0' encoding='UTF-8'?>
<feed xmlns='http://www.w3.org/2005/Atom' xmlns:apps='http://schemas.google.com/apps/2006'>
	<title>{{ title }}</title>
	<id>{{ id }}</id>
	<updated>{{ updated }}</updated>
    {% if author %}
	<author>
		<name>{{ author.name }}</name>
		<email>{{ author.email }}</email>
	</author>
    {% endif %}
    {% for entry in entries %}
	<entry>
		<category term='filter'></category>
		<title>{{ entry.title }}</title>
		<id>{{ entry.id }}</id>
		<updated>{{ entry.updated }}</updated>
		<content></content>
		<apps:property name='from' value='{{ entry.from }}'/>
		<apps:property name='label' value='Recruitment'/>
        <!-- Skip the inbox -->
		<apps:property name='shouldArchive' value='true'/>
	</entry>
    {% endfor %}
</feed>
